#vlux42 config
/doc/ai-generate
/rest-client/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp/
temp/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local